body {
    text-align: center;
}

.btn {
    display: inline-block;
}

img {
    width: 150px;
    height: 150px;
    transition: all 0.5s;
}

img:hover {
    transform: translateY(-5px); 
    box-shadow: 3px 3px red;
    cursor: pointer;
}

.winner {
    color: green;
}

.loser {
    color: red;
}